@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="/Content/img/logo.jpg" style="width:90px; height:90px; float:left; padding-top:20px;"/>
    <div>
        <h3 style="padding-top:20px; float:left;">Công ty MDS</h3>
        <h3 style="float:right; padding-top:20px;">0/0 Trang<button style="font-size:20px;">Đến</button></h3>
        
    </div>
    <div style="">
        
    </div>
</div>

